<div id="inscription-company" style="display:none" class="row">
    <div class="fixed-action-btn">
        <a id="company-back-button" class="btn-floating btn-large cyan">
            <i class="large material-icons">arrow_back</i>
        </a>
    </div>
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-action cyan white-text">
                    <h3 class="center-align">Fidelity project</h3>
                </div>
                <div class="card-content">
                    <h5 class="right-align inscription-label">Inscription d'une entreprise</h5>
                    <div class="divider"></div><br>
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">email</i>
                            <input id="CPIEmailUser" type="email" class="validate">
                            <label for="CPIEmailUser">Email</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">phone</i>
                            <input id="CPITelephone" type="tel" class="validate">
                            <label for="CPITelephone">Telephone</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="CPIPasswordUser" type="password" class="validate">
                            <label for="CPIPasswordUser">Mot de passe</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">vpn_key</i>
                            <input id="CPIConfPasswordUser" type="password" class="validate">
                            <label for="CPIConfPasswordUser">Confirmation mot de passe</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">business</i>
                            <input id="CPICity" type="text">
                            <label for="CPICity">Nom entreprise</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">business</i>
                            <input id="CPICity" type="text">
                            <label for="CPICity">SIRET</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">business</i>
                            <select id="CPIGender">
                                <option value="" disabled selected>Type</option>
                            </select>
                            <label>Type de l'entreprise</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <i class="material-icons prefix">date_range</i>
                            <input id="CPIBirthDate" type="text" class="datepicker">
                            <label>Date de création</label>
                        </div>
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">create</i>
                            <input id="input_text" type="text" data-length="100">
                            <label for="input_text">Description</label>
                        </div>
                        <div class="input-field col s12 m12">
                            <i class="material-icons prefix">location_city</i>
                            <input id="CPIAdress" type="text">
                        </div>
                        <div class="row">
                            <div class="form-field"><a id="CPIRegister" class="waves-effect waves-light btn cyan col s3 offset-s2">register</a></div>
                            <div class="form-field"><a id="CPIReset" class="waves-effect waves-light modal-trigger btn cyan col s3 offset-s2" >reset</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>