<!-- Modal Structure -->
<div id="email-validation-modal" class="modal">
    <div class="modal-content">
        <h4>Validation email</h4>
        <p id="email-modal-text">L'email <%= email %> a bien été validé !</p>
    </div>
</div>